<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    
    <% @users.each do |u| %>
        <tr>
            <td><%= "#{u.first_name} #{u.last_name}" %></td>
            <td><%= u.email %></td>
        </tr>
    <% end %>
</table>